<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travelling Application</title>
    <link rel="icon" href="../media/plane-departure-solid.svg">
</head>

<body>

    <main>
        <div class="userInfoContainer">
            <h1>Choose your destination!</h1>
            <section class="userInfo">
                <form class="" onSubmit="return false">
                    <input id="city" type="text" value="" name="input" placeholder="Enter city name">
                    <input type="date" name="departure-date" id="departure" onkeydown="return false">
                    <button id="btn" type="button" value="search">Search</button>
                </form>
            </section>
        </div>

        <div class="resultsContainer">
            <img src="https://pixabay.com/get/gdd5b30442eb6f2c46a25257f9126b7edb0a68aeda11a973843000fdf07b9c49134595485cc2d74794f04453ab5c5eef4_640.jpg" alt="" id="destination-img">
            <section id="destination-info">
                <h2 id="destination-name"></h2>
                <p id="remaining-days"></p>
                <img src="" alt="" id="weather-icon">
                <h3 id="temperature"></h3>
                <h3 id="weather-description"></h3>
            </section>
        </div>
    </main>

    <footer>
        <p>Udacity Front-End Nanodegree Capstone Project</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>