<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travelling</title>
    <link rel="icon" href="../media/plane-departure-solid.svg">
</head>

<body>

    <header>
        <div>Travelling Application</div>
    </header>

    <main>
        <section>
            <form class="" onSubmit="return false;">
                <input id="city" type="text" value="" name="input" placeholder="Enter city name">
                <button id="btn" type="button" value="submit">Submit</button>
            </form>
        </section>
    </main>

    <footer>
        <p>Udacity Front-End Nanodegree Capstone Project</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>